<div class="upload-page">


<h1>
➕ Carica Nuovo Planner
</h1>



<p 
class="message"
*ngIf="message">

{{message}}

</p>







<div class="form-box">





<label>

Nome Planner

</label>


<input

type="text"

[(ngModel)]="planner.name"

placeholder="Nome planner">







<label>

Immagine Copertina

</label>



<input

type="file"

accept="image/*"

(change)="onImageSelected($event)">







<!-- PREVIEW IMMAGINE -->


<div 
class="preview"
*ngIf="planner.image">


<img

[src]="planner.image"

alt="Preview Planner">


</div>








<label>

Prezzo €

</label>


<input

type="number"

[(ngModel)]="planner.price"

placeholder="14.99">








<label>

Categoria

</label>


<input

type="text"

[(ngModel)]="planner.category"

placeholder="Elegant">








<label>

Badge

</label>


<input

type="text"

[(ngModel)]="planner.badge"

placeholder="PREMIUM">







<label>

File PDF Planner

</label>



<input

type="file"

accept=".pdf"

(change)="onPdfSelected($event)">







<p 
class="file-name"
*ngIf="planner.downloadUrl">


📄 {{planner.downloadUrl}}

</p>









<label>

Descrizione

</label>


<textarea

[(ngModel)]="planner.description"

placeholder="Descrizione planner">

</textarea>









<button

(click)="savePlanner()">


🚀 Pubblica Planner


</button>






</div>



</div>