<div class="login-page">


<section class="login-box">





<h1>

🌸 Bentornato

</h1>





<p>

Accedi al tuo spazio DreamCalendar

</p>









<input


type="email"


placeholder="Email"


[(ngModel)]="email"


>









<input


type="password"


placeholder="Password"


[(ngModel)]="password"


>









<button


(click)="login()"


[disabled]="loading"



>



<span *ngIf="!loading">


Accedi


</span>






<span *ngIf="loading">


⏳ Accesso...


</span>





</button>









<p


class="error"


*ngIf="errorMessage"



>



{{errorMessage}}


</p>









<p>



Non hai un account?





<a routerLink="/register">


Registrati


</a>



</p>







</section>


</div>