<div class="login-page">


<section class="login-box">





<h1>

🌸 Bentornato

</h1>





<p>

Accedi al tuo spazio DreamCalendar

</p>









<input
type="email"
placeholder="Email"
[(ngModel)]="email"
(input)="emailError=''"
(blur)="checkEmail()"
[class.input-error]="emailError"
>


<div 
class="field-error"
*ngIf="emailError">
⚠ {{emailError}}
</div>


<input
type="password"
placeholder="Password"
[(ngModel)]="password"
(input)="passwordError=''"
(blur)="checkPassword()"
[class.input-error]="passwordError"
>


<div 
class="field-error"
*ngIf="passwordError">
⚠ {{passwordError}}
</div>

<button


(click)="login()"


[disabled]="loading"



>



<span *ngIf="!loading">


Accedi


</span>






<span *ngIf="loading">


⏳ Accesso...


</span>





</button>









<div
class="error"
*ngIf="errorMessage"
>

❌ {{errorMessage}}

</div>



<p>



Non hai un account?





<a routerLink="/register">


Registrati


</a>



</p>







</section>


</div>