.about-page {
  background: #fff9f7;

  color: #684e5c;
}

.about-hero {
  padding: 100px 10%;

  text-align: center;

  background: linear-gradient(135deg, #ffdbea, #eee2ff);

  border-radius: 0 0 80px 80px;
}

.about-hero span {
  background: white;

  padding: 12px 25px;

  border-radius: 40px;

  color: #cf799d;
}

.about-hero h1 {
  font-size: 60px;

  font-family: "Playfair Display";
}

.about-hero p {
  font-size: 20px;

  max-width: 700px;

  margin: auto;
}

.story {
  padding: 80px 10%;

  text-align: center;
}

.story p {
  font-size: 20px;

  line-height: 1.8;
}

.values {
  padding: 50px 10%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

.values div {
  background: white;

  padding: 40px;

  border-radius: 35px;

  text-align: center;

  box-shadow: 0 20px 40px rgba(190, 140, 170, 0.15);
}

.icon {
  font-size: 45px;
}

.mission {
  margin: 50px;

  padding: 50px;

  border-radius: 40px;

  background: #ffe5ef;

  text-align: center;
}

@media (max-width: 800px) {
  .values {
    grid-template-columns: 1fr;
  }

  .about-hero h1 {
    font-size: 40px;
  }

  .team {
    padding: 70px 8%;

    text-align: center;
  }

  .team-card {
    background: white;

    padding: 40px;

    border-radius: 40px;

    box-shadow: 0 15px 40px rgba(180, 130, 160, 0.15);
  }

  .stats {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    padding: 50px 8%;
  }

  .stats div {
    background: linear-gradient(135deg, #ffe5ef, #f0e7ff);

    padding: 30px;

    border-radius: 35px;

    text-align: center;
  }

  .stats h2 {
    font-size: 40px;

    color: #d583aa;
  }

  @media (max-width: 800px) {
    .stats {
      grid-template-columns: 1fr;
    }
  }
}
