<div class="checkout-page">



<section class="checkout-header">


<h1>

🛒 Checkout

</h1>


<p>

Acquista i tuoi planner digitali e inizia subito a organizzarti 🌸
</p>


</section>








<section 
class="success"

*ngIf="orderCompleted">



<h2>

🎉 Ordine completato!

</h2>



<p>

Grazie per il tuo acquisto.

I tuoi planner sono ora disponibili nella sezione "I miei Planner".

</p>



<a routerLink="/my-planners">

📚 Vai ai miei Planner

</a>



</section>









<section 

class="checkout-content"

*ngIf="!orderCompleted">









<div class="products">



<h2>

Riepilogo ordine

</h2>





<div

class="checkout-item"

*ngFor="let item of cart">





<img

[src]="item.product.image"

[alt]="item.product.name">






<div>


<h3>

{{item.product.name}}

</h3>


<p>

Quantità:

{{item.quantity}}

</p>


</div>






<strong>

{{item.subtotal | currency:'EUR'}}

</strong>





</div>








<h2>

Totale:

{{total | currency:'EUR'}}

</h2>




</div>









<div class="form">



<h2>

Dati cliente

</h2>








<input

type="text"

placeholder="Nome"

[(ngModel)]="customer.name">







<input

type="email"

placeholder="Email"

[(ngModel)]="customer.email">







<input

type="text"

placeholder="Indirizzo"

[(ngModel)]="customer.address">







<button

(click)="completeOrder()">



Conferma acquisto 💳


</button>



</div>







</section>







</div>