<!-- <app-componente-prova></app-componente-prova> posso richiamare nel mio componente principale  app.coponent.html gli altri componenti da visualizzare
                                                 e a loro volta posso comporre pagine con componenti -->

<button mat-raised-button color="primary" (click)="onClick()">Event binding</button> / <!-- con angular NON USO GLI EVENT LISTENER-->

<button mat-raised-button color="primary" (click)="onClickTitolo(this)">Event binding</button> / <!-- passo una variabile che con this è l'intero componente app.component.ts-->

<button mat-raised-button color="primary" (click)="onClickTitolo(this.title)">VariabileComponente</button>
<!-- se nel ts avessi messo come argomento della f onClickTitolo
  un altra funzione che mi tornava qualcosa allora avrei potuto passare anche una funzione con this
-->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="" (input)="onClickInput($event)" (input)="modificaTitolo($event)"> <!--sta volta come variabile gli passo una con dollaro, che sono VARIABILI DI ANGULAR-->
  </mat-form-field>
  <h1>{{title}}</h1>
  <!-- passandogli $event lui all'evento di input farà partire la funzione di onclicktitolo che mi printa ciò che gli passo
  in questo caso i dati creati dalla generazione dell'evento , Un dato interessante dell'event è il VALUE!!!
  presente nel TARGET!!!
ESEMPI USO
posso usare quel value in realtime facendo ricerca tra i dati che ho , nel frattempo che lui scrive, prima che lui mandi il form
  -->

<!----------------------------------------------------ESEMPIO 2WAYBINDING BANANA IN DE BOX----------------------------------------------------->
<!-------------------------------------Si dice cosi perchè mischio l'event binding con() e il proprety binding[], ma internamente uso NGmodule -------------------------------------------------->

<button mat-raised-button color="primary" (click)="modificaTutto($event)">VariabileComponente</button>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Message</mat-label>
  <input matInput #message maxlength="256" placeholder="cambia" [(ngModel)]="title"> <!--sta volta come variabile gli passo una con dollaro, che sono VARIABILI DI ANGULAR-->
</mat-form-field>
<h1>{{title}}</h1>
