header{


height:90px;

display:flex;

align-items:center;

justify-content:space-between;

padding:20px 50px;

background:white;

position:sticky;

top:0;

z-index:999;


box-shadow:

0 10px 35px rgba(190,130,160,.15);


}





.logo{


font-size:28px;

font-weight:700;

color:#d48aa9;


display:flex;

flex-direction:column;


}



.logo small{


font-size:11px;

letter-spacing:2px;

font-weight:400;

color:#9b7c8b;


}





nav{

display:flex;

align-items:center;

gap:10px;


background:

linear-gradient(
135deg,
#fff7fb,
#f8edff
);


padding:8px 15px;


border-radius:50px;


box-shadow:

0 8px 25px rgba(190,130,160,.18);


border:1px solid rgba(220,170,200,.25);


}




nav a{


text-decoration:none;


color:#60465c;


font-weight:600;


padding:12px 18px;


border-radius:30px;


display:flex;


align-items:center;


gap:7px;


transition:.3s;


}



nav a:hover{


background:#ffe5f0;

color:#d06d99;

transform:translateY(-3px);


}

nav a.active{


background:

linear-gradient(
135deg,
#d98cad,
#a979c9
);


color:white;


box-shadow:

0 8px 20px rgba(210,130,170,.35);


}



.hamburger{


display:none;

border:none;

background:none;

font-size:32px;

cursor:pointer;

color:#d06d99;


}






@media(max-width:768px){



header{

padding:20px;

}



.hamburger{

display:block;

}




nav{


position:absolute;

top:90px;

left:0;

width:100%;

background:white;


display:none;


flex-direction:column;


padding:30px;


box-shadow:

0 20px 40px rgba(190,130,160,.2);


}








nav a{


width:100%;

text-align:center;


}
.cart-link{

text-decoration:none;

padding:12px 20px;

border-radius:30px;

background:#ffe2ee;

color:#bb678d;

font-weight:600;

transition:.3s;

}


.cart-link:hover{

background:#d583aa;

color:white;

}
.account{

display:flex;

align-items:center;

gap:10px;

}



.account a,
.account button{

text-decoration:none;

border:none;

cursor:pointer;

padding:12px 18px;

border-radius:30px;

background:#ffe2ee;

color:#bb678d;

font-weight:600;

}



.account a:hover,
.account button:hover{

background:#d583aa;

color:white;

}
}