<div class="bot-container">


  <div class="bot-header">


    🌸 DreamCalendar AI


    <div *ngIf="isLogged">

      Benvenuto {{username}} 👋

    </div>


  </div>





  <div 
  *ngIf="!isLogged"
  class="login-message">


    🔒


    <h3>
      Accesso richiesto
    </h3>


    <p>
      Devi effettuare il login per parlare con DreamCalendar AI.
    </p>



    <a routerLink="/login">
      Accedi
    </a>



  </div>







  <div class="messages">



    <div

      *ngFor="let msg of messages"

      class="message"

      [ngClass]="msg.sender">


      <strong>

        {{msg.sender}}

      </strong>



      <p>

        {{msg.text}}

      </p>



    </div>





    <div

      *ngIf="loading"

      class="loading">


      Il bot sta rispondendo...


    </div>



  </div>






  <div

  class="input-area"

  *ngIf="isLogged">





    <input


      type="text"


      [(ngModel)]="userMessage"


      (keyup.enter)="sendMessage()"


      placeholder="Scrivi una domanda..."

    >




    <button

      (click)="sendMessage()">


      Invia


    </button>



  </div>



</div>