<footer>


<div class="footer-brand">


<h2>
✿ DreamCalendar
</h2>


<p>
Digital planner eleganti per organizzare
tempo, sogni e obiettivi.
</p>


</div>





<div class="footer-links">


<a routerLink="/about">
Chi siamo
</a>


<a routerLink="/contact">
Contatti
</a>


<a routerLink="/shop">
Shop
</a>


<!-- <a routerLink="/my-planners">
I miei Planner
</a> -->


<a routerLink="/cart">
Carrello
</a>


</div>





<div class="footer-bottom">


<p>

© {{year}} DreamCalendar
</p>


<p>

Planner digitali premium 🌸

</p>


</div>



</footer>